
<div class="container-fluid">
    <div class="well  row ">
        <h1>Hi <%=admin.full_name%></h1>
        <h4> Role: <%= admin.type %></h4>
        <h4> Today: <%=Date.today %> </h4>
         
    </div>
    <div class='pending-homepage row' >
        <div class="homepage-block col-md-3">
        
        <p>hello</p>
        </div>
         
    
    </div>
    
    <div class="pending-homepage">
   
</div>



</div>
