<h1>Post Dashboard</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							Overtime
						</th>
						<th>
							Date
						</th>
						<th class='hidden-xs'>
							Rationale
						</th>
						<th>
						   Status
						</th>
					</tr>
				</thead>
				<tbody id="posts">
				 
				   <!--move the whole commented codes to partial post in view an refactor is follow -->
			        <%= render @posts %>
				   		
				 
					<!--<tr>-->
					<%#@posts.each do |post| %>
					<!--	<td>-->
							<%#=post.id%>
					<!--	</td>-->
					<!--	<td>-->
							<%#=post.date%>
					<!--	</td>-->
					<!--	<td>-->
							<%#=post.user.last_name%>
					<!--	</td>-->
					<!--	<td>-->
							<%#= truncate(post.rationale) %>
					<!--	</td>-->
					<!--</tr>
					<%#end%>-->
					 </tbody>
					 </table>
					 <div id="paginator">
					 	<%= paginate  @posts , remote: true%>
					 </div>
