<h1>All the Posts</h1>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Date
						</th>
						<th>
							User
						</th>
						<th>
							Rationale
						</th>
					</tr>
				</thead>
				<tbody>
				 
				   <!--move the whole commented codes to partial post in view an refactor is follow -->
				   <%= render @posts%>
					<!--<tr>-->
					<%#@posts.each do |post| %>
					<!--	<td>-->
							<%#=post.id%>
					<!--	</td>-->
					<!--	<td>-->
							<%#=post.date%>
					<!--	</td>-->
					<!--	<td>-->
							<%#=post.user.last_name%>
					<!--	</td>-->
					<!--	<td>-->
							<%#= truncate(post.rationale) %>
					<!--	</td>-->
					<!--</tr>
					<%#end%>-->
					 </tbody>
					 </table>